;*****************************************************************************
;
; File:                 $Workfile: SEND.CFG $
; Path:                 $Logfile: /NMRA/SRC/SEND/SEND.CFG $
; Project:              NMRA DCC Conformance Tests
;
; Creation date:        #
; Designed by:          K. West
; Coded by:             K. West
;
; Current version:      $Revision: 19 $
; Last Modified on:     $Modtime: 7/04/19 7:16p $
;               by:     $Author: Kenw $
; Last checkin on:      $Date: 7/04/19 7:18p $
;
;*****************************************************************************
;
; Initialization file for DCC decoder
; conformance test software.
;
;*****************************************************************************

;MANUAL                # Don't run tests automatically.
;ADDRESS            3  # Set decoder address.
;PORT           0x340  # Set base I/O port address.
TYPE               f  # Decoder type (l-LOCO | f-FUNC | a-ACC | s-SIG).
;LAMP                  # Use rear lamp for function tests.
;PRESET             0  # Sig decoder preset aspect number.
;TRIGGER            8  # Sig decoder trigger aspect number.
;CRITICAL              # Protect critical code regions.
;REPEAT                # Continuously repeat decoder tests.
;TESTS     0x00000080  # Mask of tests to run.
;CLOCKS    0x0000007f  # Mask of clocks to try.
;FUNCS           0x1f  # Mask of functions to use.
;EXTRA_PRE          2  # Extra preamble bits to add to margin tests.
;TRIG_REV              # Use reverse as trigger command.
FILL_MSEC        700  # Intercommand fill time in milliseconds.
;TEST_REPS          4  # Non packet acceptance test repeat count.
;LOG_PKTS              # Send packet data to log, not hardware.
;NO_ABORT              # Do not stop program on ERROR.
;LATE_SCOPE            # Put scope trigger after trigger packet.
;FRAGMENT              # Test all fragment lengths in packet fragment test.
;SAME_AMBIG_ADDR       # Use same address for ambiguous preset and trigger.
