;*****************************************************************************
;
; File:                 $Workfile: SEND.CFG $
; Path:                 $Logfile: /NMRA/SRC/SEND/SEND.CFG $
; Project:              NMRA DCC Conformance Tests
;
; Creation date:        #
; Designed by:          K. West
; Coded by:             K. West
;
; Current version:      $Revision: 13 $
; Last Modified on:     $Modtime: 3/25/13 5:06p $
;               by:     $Author: Kenw $
; Last checkin on:      $Date: 3/25/13 5:07p $
;
;*****************************************************************************
;
; Initialization file for DCC decoder
; conformance test software.
; Econami Test. Bad Address & Bit test only. Very Negative 0 only. 100 repeats.
; Test is run with 2000ms fill time due to extremely long motor on time.
;
;*****************************************************************************

;MANUAL                # Don't run tests automatically.
;ADDRESS            1  # Set decoder address.
;PORT           0x340  # Set base I/O port address.
;TYPE               a  # Decoder type line (l - LOCO | a -  ACC | f - FUNC).
;CRITICAL              # Protect critical code regions.
;REPEAT                # Continuously repeat decoder tests.
TESTS     0x00000300  # Mask of tests to run.
CLOCKS    0x00006000  # Mask of clocks to try.
;FUNCS           0x1f  # Mask of functions to use.
;EXTRA_PRE          2  # Extra preamble bits to add to margin tests.
;TRIG_REV              # Use reverse as trigger command.
FILL_MSEC       2000  # Intercommand fill time in milliseconds.
;TEST_REPS        100  # Non packet acceptance test repeat count.
;LOG_PKTS              # Send packet data to log, not hardware.
;NO_ABORT              # Do not stop program on ERROR.
;LATE_SCOPE            # Put scope trigger after trigger packet.
;FRAGMENT              # Test all fragment lengths in packet fragment test.
;SAME_AMBIG_ADDR       # Use same address for ambiguous preset and trigger.
